<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title font-weight-bold">نشریه مدرسه</h3>
      <div class="card-tools">
        {% if page_obj.has_previous or page_obj.has_next %}
            {% include 'base/include/blog-pagination-item.html' %}
        {% endif %}
      </div>
    </div>
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th>عنوان نشریه</th>
            <th>تاریخ ویرایش</th>
            <th>نویسنده نشریه</th>
          </tr>
        </thead>
        <tbody>
        {% if blog %}
            {% for post in blog %}
              <tr>
                <td><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></td>
                <td>{{ post.updated_on }}</td>
                <td>{{ post.author.site_display_name }}</td>
              </tr>
            {% endfor %}
            {% if not page_obj%}
              <tr>
                <td colspan="4" class="text-center font-weight-bold"><a href="{% url 'blog:blog-list' %}"> نمایش بیشتر</a></td>
              </tr>
            {% endif %}
        {% else %}

          <tr>
            <td colspan="4" class="text-center font-weight-bold">هیچ صفحه ای موجود نیست</td>
          </tr>
        {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  </div>