<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title font-weight-bold">نشریه مدرسه</h3>
      <div class="card-tools">
        <ul class="pagination pagination-sm float-right">
          <li class="page-item">
            <a class="page-link" href="#">«</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">»</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>
            <th>عنوان نشریه</th>
            <th>تاریخ ویرایش</th>
            <th>نویسنده نشریه</th>
          </tr>
        </thead>
        <tbody>
        {% if blog %}
            {% for post in blog %}
              <tr>
                <td><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></td>
                <td>{{ post.updated_on }}</td>
                <td>{{ post.author.site_display_name }}</td>
              </tr>
            {% endfor %}
            <tr>
            <td colspan="4" class="text-center font-weight-bold"><a href="{% url 'blog:blog-list' %}"> نمایش بیشتر</a></td>
          </tr>
        {% else %}

          <tr>
            <td colspan="4" class="text-center font-weight-bold">هیچ صفحه ای موجود نیست</td>
          </tr>
        {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  </div>