<div class="card">
  <div class="card-header">
    <h3 class="card-title">پرونده های انضباطی</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">

	  <div class="table-header mb-5">
		  <div class="float-left">
				<h4>موارد مثبت</h4>
		  </div>
		  <div class="float-right">
			  {% if perms.accounts.add_stdeducationalmodel %}
					<a href="{% url 'admin:accounts_stdeducationalmodel_add' %}?student_id={{ student.id }}&type=positive" target="_blank">افزودن مورد جدید</a>
			  {% endif %}
		  </div>
	  </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>کارها و فعالیت ها</th>
          <th>تعداد</th>
          <th>نمره متعلقه</th>
	        {% if request.user.is_staff %}
          <th style="width:50px">عملیات</th>
	        {% endif %}
        </tr>
      </thead>
      <tbody>

{% if educational.positive %}
	{% for edu in educational.positive %}
        <tr>
          <td><a href="/account/student/1">{{ edu.positive }}</a></td>
          <td>{{ edu.number }}</td>
          <td>{{ edu.score }}</td>
	        {% if request.user.is_staff %}
          <td>

              <div class="dropdown">
                  <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-bars"></i>
                  </a>

                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
	                {% if perms.accounts.change_StdEducationalModel %}
                    <li><a class="dropdown-item" href="{% url 'admin:accounts_stdeducationalmodel_change' edu.id %}" target="_blank">ویرایش</a></li>
	                {% endif %}

                  {% if perms.accounts.delete_StdEducationalModel %}
                    <li><a class="dropdown-item" href="{% url 'admin:accounts_stdeducationalmodel_delete' edu.id %}" target="_blank">حذف</a></li>
	                {% endif %}
                  </ul>
              </div>

          </td>
	        {% endif %}
        </tr>
	{% endfor %}
{% else %}
	<tr>
    <td colspan="4" class="text-center">هیچ اطلاعاتی ثبت نشده است</td>
  </tr>
{% endif %}
      </tbody>
    </table>
  </div>
	<div class="row d-flex justify-content-center">
		<hr class="border border-2 opacity-30" style="width: 92%">
	</div>
	<!-- /.card-header -->
  <div class="card-body">

	  <div class="table-header mb-5">
		  <div class="float-left">
				<h4>موارد منفی</h4>
		  </div>
		  <div class="float-right">
				{% if perms.accounts.add_stdeducationalmodel %}
					<a href="{% url 'admin:accounts_stdeducationalmodel_add' %}?student_id={{ student.id }}&type=negative" target="_blank">افزودن مورد جدید</a>
			  {% endif %}
		  </div>
	  </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>کارها و فعالیت ها</th>
          <th>تعداد</th>
          <th>نمره متعلقه</th>
          <th style="width:50px">عملیات</th>
        </tr>
      </thead>
      <tbody>

{% if educational.negative %}
	{% for edu in educational.negative %}
        <tr>
          <td><a href="/account/student/1">{{ edu.negative }}</a></td>
          <td>{{ edu.number }}</td>
          <td>{{ edu.score }}</td>
	        {% if request.user.is_staff %}
          <td>

              <div class="dropdown">
                  <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-bars"></i>
                  </a>

                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
	                {% if perms.accounts.change_StdEducationalModel %}
                    <li><a class="dropdown-item" href="{% url 'admin:accounts_stdeducationalmodel_change' edu.id %}" target="_blank">ویرایش</a></li>
	                {% endif %}

                  {% if perms.accounts.delete_StdEducationalModel %}
                    <li><a class="dropdown-item" href="{% url 'admin:accounts_stdeducationalmodel_delete' edu.id %}" target="_blank">حذف</a></li>
	                {% endif %}
                  </ul>
              </div>

          </td>
	        {% endif %}
        </tr>
	{% endfor %}
{% else %}
	<tr>
    <td colspan="4" class="text-center">هیچ اطلاعاتی ثبت نشده است</td>
  </tr>
{% endif %}
      </tbody>
    </table>
  </div>

</div>
