{% load jformat %}

					<!-- Student Report -->
					<div class="col-md-3">
						<div class="card card-primary card-outline">
							<div class="card-body box-profile">
								<div class="text-center">
									<img class="profile-user-img img-fluid img-circle"
									     src="{{ student.user.profile_pic_url }}"
									     alt="User profile picture">
								</div>

								<h3 class="profile-username text-center">{{ student.user.first_name }} {{ student.user.last_name }}</h3>

								<p class="text-muted text-center">{{ student.user.user_group_name|default_if_none:"بدون گروه" }}</p>

								<ul class="list-group list-group-unbordered mb-3" style="padding-right: 0">
									<li class="list-group-item">
										<b>آخرین بازید:</b> <span class="float-right"
										                       dir="ltr">{{ student.user.last_login|jformat:"%Y/%m/%d %H:%M:%S" }}</span>
									</li>
									<li class="list-group-item">
										<b>عضویت:</b> <span class="float-right"
										                 dir="ltr">{{ student.user.date_joined|jformat:"%Y/%m/%d %H:%M:%S" }}</span>
									</li>
									<li class="list-group-item">
										<b>نام پدر:</b> <span class="float-right"
										                 dir="ltr">{{ student.FatherInfoModel.first_name}}</span>
									</li>

								</ul>
									<a href="{% url 'accounts:student-info' student.pk %}" class="btn btn-primary btn-block"><b>مشاهده بیشتر </b></a>
							</div>
						</div>
					</div>


