{% extends "base/main.html" %}
{% load static %}
{% load jformat %}

{% block title %}صفحه {{ student.user.first_name }} {{ student.user.last_name }}{% endblock %}
{% block content %}
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>{{ student.user.first_name }} {{ student.user.last_name }}</h1>
					</div>

				</div>
			</div><!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
                        <form class="card">
                          <div class="card-body">
                            <fieldset disabled>
                                    <div class="row">
                                        {% for form in forms %}
                                            {{ form.as_div }}
                                        {% endfor %}
                                    </div>
                            </fieldset>
                          </div>

                          <div class="card-footer">
                              <a href="{{ student.get_absolute_url }}" class="btn  btn-outline-info">بازگشت</a>
                          </div>

                        </form>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div><!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
{% endblock %}