{% extends "base/main.html" %}
{% load static %}
{% load jformat %}

{% block title %}گروه ها{% endblock %}

{% block style %}
    <style>
        table{
            text-align: center;

        }
        table td {
            vertical-align: middle !important;
        }
        table td .dropdown-toggle::after{
            display: none;
        }

    </style>
{% endblock %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>گروه ها</h1>
          </div>

        </div>

      </div><!-- /.container-fluid -->

    </section>
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">



              <div class="card">
              <div class="card-header">
                <h3 class="card-title">کاربر ها</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>نام گروه</th>
                      <th>وضعیت</th>
                      <th style="width:50px">عملیات</th>
                    </tr>
                  </thead>
                  <tbody>
                {% for object in object_list %}
                    <tr>
                      <td><a href="{{ object.get_absolute_url }}">{{ object|default:"ثبت نشده"|default_if_none:"ثبت نشده" }}</a></td>
                      <td>
	                      {% if object.can_edit %}
												قابل ویرایش
                        {% else %}
                        غیر قابل ویرایش
                        {% endif %}
                      </td>
                      <td>

                          <div class="dropdown">
                              <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-bars"></i>
                              </a>

                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="{{ object.get_absolute_url }}">آپلود</a></li>
                                <li><a class="dropdown-item" href="{% url 'admin:accounts_stdgroupmodel_change' object.pk %}">ویرایش</a></li>
                                <li><a class="dropdown-item" href="{% url 'admin:accounts_stdgroupmodel_delete' object.pk %}">حذف</a></li>
                              </ul>
                          </div>

                      </td>
                    </tr>
                {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">

              </div>
            </div>

          </div>
          <!-- /.col -->

          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}