{% extends "accounts/base-content.html" %}
{% load static %}
{% block titlepage %}تغییر رمز عبور{% endblock %}
{% block addstyle %}
{% endblock %}

{% block basecontent %}
         <div class="card mb-3">
            <div class="card-body d-flex flex-wrap flex-between-center">
               <div>
                  <h6 class="text-primary">تغییر</h6>
                  <h5 class="mb-0">رمز عبور</h5>
                  {{deb}}
               </div>
            </div>
         </div>
         
         
 
         <div class="card mb-3">
            <div class="card-body position-relative">

            {% if  erro_text %}
               <div class="alert alert-danger border-2 d-flex align-items-center" role="alert">
                  <div class="bg-danger me-3 icon-item"><span class="fas fa-times-circle text-white fs-3"></span></div>
                  <p class="mb-0 flex-1">{{erro_text}}</p><button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
               
                </div>
            {% endif %}

            {% if  notice %}
               <div class="alert alert-success  border-2 d-flex align-items-center" role="alert">
                  <div class="bg-success  me-3 icon-item"><span class="fas fa-times-circle text-white fs-3"></span></div>
                  <p class="mb-0 flex-1">{{notice}}</p><button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
               
                </div>
            {% endif %}

            <form action="" method="POST" >
               <div class="row g-3">
                  {% csrf_token %}
                                             
                   

                  <div class="col-md-12">
                      <label class="form-label" >{{form.last_password.label}}</label>
                      {{form.last_password}}
                   </div>
                   
                   <div class="col-md-12">
                       <label class="form-label" >{{form.new_password.label}}</label>
                       {{form.new_password}}
                    </div>
                    
                    <div class="col-md-12">
                        <label class="form-label" >{{form.Confirm_password.label}}</label>
                        {{form.Confirm_password}}
                     </div>
               
                   

                  <div class="col-md-12">
                     <button class="btn btn-success me-1 mb-1" type="submit">تایید اطلاعات</button>
                  </div>

               </div>
             </form>
            </div>
         </div>







    










{% endblock %}