{% extends "accounts/base-content.html" %}
{% load static %}
{% load accounts_tags %}
{% block titlepage %}شهریه ها{% endblock %}
{% block basecontent %}
         

                  <div class="card mb-3">
                     <div class="card-body d-flex flex-wrap flex-between-center">
                        <div>
                           <h6 class="text-primary">شهریه</h6>
                           <h5 class="mb-0">{{ user.first_name }} {{ user.last_name }}</h5>
                        </div>
                     </div>
                  </div>


                  <div class="card mb-3">
                    <div class="table-responsive scrollbar">
                      <table class="table mb-0 fs--1 border-200 table-borderless">
                        <thead class="bg-light">
                          <tr class="text-800 bg-200">
                            <th class="text-nowrap">سال</th>
                            <th class="text-center text-nowrap">نوع</th>
                            <th class="text-center text-nowrap">مبلغ</th>
                            <th class="text-center text-nowrap">تمام شده</th>
                          </tr>
                        </thead>

                          <tbody>
                          {% if total %}
                              {% for pay in total %}
                                <tr class="border-bottom border-200">
                                  <td class="align-middle font-sans-serif fw-medium text-nowrap"><a href="{% url 'user-payment-price' pay.pk %}">{{ pay.total_price.year }}</a></td>
                                  <td class="align-middle text-center">{{ pay.total_price.name }}</td>
                                  <td class="align-middle text-center">{{ pay.total_price.price }}</td>
                                  <td class="align-middle text-center">{{ pay.finished|show_boolean_value }}</td>
                                </tr>
                              {% endfor %}

                          {% else %}
                                <tr class="border-bottom border-200">
                                  <td colspan="4" class="align-middle font-sans-serif fw-medium text-nowrap text-center">برای شما هیچ شهریه ای مشخص نشده است</td>
                                </tr>
                          {% endif %} 

                        </tbody>

                      </table>
                    </div>
                  </div>

      
{% endblock %}
