{% extends "base/main.html" %}
{% load static %}
{% load jformat %}

{% block title %}نشریه مدرسه{% endblock %}
{% block content %}
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
          <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>نشریه مدرسه</h1>
                    </div>
                    <div class="col-sm-6">
                      <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item">
                          <a href="{% url 'home' %}">
                            خانه
                          </a>
                        </li>
                        <li class="breadcrumb-item active">
                          نشریه مدرسه
                        </li>
                      </ol>
                    </div>
                </div>
            </div>
          </section>

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
                {% include 'base/include/blog-list.html' %}

				</div>
				<!-- /.row -->
			</div><!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
{% endblock %}

{% block blog-pagination %} 1114 {% endblock %}